body{
    /* border: 1px solid black; */
}
header{
    display:flex;
    height: 80%;
    height: 10vh;
    margin-top: 20px;
    justify-content: start;
    /* border: 1px solid black; */
    flex-direction: row;
    align-content: start;
    column-gap: 6%;
    flex-wrap: wrap;
}
.header-first{
    display: flex;
    flex-basis: 100%;
    height : 45%;
    border: 1px solid black;
}
.home{
    flex-basis: 5%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{
    flex-basis: 80%;
    height: 100%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.start{
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
    /* flex-basis: 50%; */
    /* width: 100%; */
}
.category-container{
    /* border: 1px solid black; */
    display: flex;
    width: 70%;
    height: 80%;
    justify-content: center;
    /* align-items: end; */
    column-gap: 80px;
}
.category{
    margin-left: 0;
    /* flex-basis: 25%; */
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    /* border: 1px solid black; */
}
content{
    height: 300vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.content-container{
    display: flex;
    height: 100%;   
    width: 95%;
    /* flex-direction: 'column'; */
    flex-wrap: wrap;
    justify-content: 'center';
    align-items: 'center';
    /* border: 1px solid black; */
    background-color: rgb(247, 242, 242);
}